body {
  background-color: #e7dfd5;
}

hr {
  border-style: none;
  border-top: 7px dotted #f4f6ff;
  width: 5%;
}

h1 {
  color: #42240c;
}

h2 {
  color: #7d5a5a;
}

h3 {
  color: #7d5a5a;
}

h4 {
  color: #7d5a5a;
}

strong {
  color: #7d5a5a;
}

th {
  color: #7d5a5a;
}
